.product-item {
  text-align: center;
  border: 1px solid rgb(71, 105, 255);
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 0px 10px 20px 10px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/